<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/subPageStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../styles/admin/beheer.css">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a360f97177.js"></script>

    <title>Management</title>
</head>
<body>
    <div class="upperMenu header">
        <s>Management</s>
        <button id="settings" class="upperMenuButton"><i class="fa-solid fa-sliders fa-xs"></i></button>
        <button id="terug" class="upperMenuButton"><a href="/">
        <i class="fa-solid fa-reply fa-xs"></i></a></button>
    </div>
    
    <div class="content">
        <div class="leftbox">
            <nav>
                <a onclick="showTab(0)" class="tab active">
                    <li class="fa fa-user"></li>
                </a>
                <a onclick="showTab(1)" class="tab">
                    <i class="fa-solid fa-store"></i>
                </a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile tabshow">
                <h1>Personal</h1>
                <h2>full name</h2>
                <input type="text" class="input" value="name">
                <h2>login</h2>
                <input type="text" class="input" value="login">
                <h2>Password</h2>
                <input type="password" class="input" value="">
                <button class="btn">Update</button>
            </div>

            <div class="shop tabshow">
                <h1>Products</h1>
                <button onclick="showTab(2)" class="btn-add">Add</button>
                <% if (products.length > 0) { %>
                    <% products.forEach(product => { %>
                        <div class="product">
                            <strong><%= product.name %></strong>

                            <div class="icons">
                                <a onclick="showTab(3)">
                                    <i class="fa fa-refresh update"></i>
                                </a>
                                <form action="admin/delete_product/<%= product.product_id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="fa-solid fa-x delete"></i></button>
                                </form>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No products found</p>
                <% } %>
            </div>
            
            <div class="add tabshow">
                <form action="/admin/add_product" method="POST">
                    <h1>Add product</h1>
                    <h2>name</h2>
                    <input type="text" name="name" class="input" value="">
                    <h2>category</h2>
                    <input type="text" name="category" class="input" value="">
                    <h2>description</h2>
                    <input type="text" name="description" class="input" value="">
                    <h2>price</h2>
                    <input type="text" name="price" class="input" value="">
                    <h2>img</h2>
                    <input type="text" name="img" class="input" value="">
                    
                    <button type="submit" class="btn">ADD</button>
                </form>
            </div>

            <% products.forEach(product => { %>
                <div class="update tabshow">
                    <h1>Update product</h1>
                    <h2>name</h2>
                    <input type="text" class="input" value="<%=product.name%>">
                    <h2>category</h2>
                    <input type="text" class="input" value="<%=product.category%>">
                    <h2>description</h2>
                    <input type="text" class="input" value="<%=product.description%>">
                    <h2>price</h2>
                    <input type="text" class="input" value="<%=product.price%>">
                    <h2>img</h2>
                    <input type="text" class="input" value="<%=product.img%>">
                    <button class="btn">UPDATE</button>
                </div>
            <% }) %>

</body>
<script src="../js/admin/beheer.js"></script>
</html>